@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Azeret Mono', monospace;
}

:root {
  --main-bg: #272727;
  --placeholder: #474747;
  --main-text: #ddd;
  --theme: #B38D97;
  --font-size: 16px;
}

body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: var(--font-size);
  background-color: var(--main-bg);
  color: var(--main-text)
}

ul {
  padding: 0;
}

a {
  color: var(--main-text);
  text-decoration: none;
}

a:hover {
  color: var(--theme);

}